.mb-sm {
  margin-bottom: 1rem; }
  @media only screen and (min-width: 75em) {
    .mb-sm {
      margin-bottom: 2rem; } }

.mb-md {
  margin-bottom: 2rem; }
  @media only screen and (min-width: 75em) {
    .mb-md {
      margin-bottom: 3rem; } }

.mb-lg {
  margin-bottom: 4rem; }
  @media only screen and (min-width: 75em) {
    .mb-lg {
      margin-bottom: 6rem; } }

.mb-hg {
  margin-bottom: 4rem; }
  @media only screen and (min-width: 75em) {
    .mb-hg {
      margin-bottom: 8rem; } }

/*
   * plava: #5ca7db
   * crna: #404040
   * siva: #999999 i #606060 
   * zuta: #f5c463
   * zelena: #58b39
*/
@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%); }
  50% {
    opacity: 0;
    transform: translate(-50%, 50%); }
  100% {
    opacity: 1;
    transform: translate(-50%, 0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: .5px;
  color: #606060;
  background-color: #eef6fb; }

.container {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; }

main {
  grid-column: full-start / full-end;
  position: relative;
  background: linear-gradient(to bottom, #fff, #f2f2f2); }
  @media only screen and (min-width: 56.25em) {
    main {
      padding: 4rem 0; } }
  @media only screen and (min-width: 75em) {
    main {
      padding: 6rem 0; } }

.wrapper {
  width: auto;
  max-width: 1140px;
  margin: 0 auto !important; }

.title-center {
  width: 90%;
  margin: 0 auto;
  text-align: center; }

.side-img {
  width: 100%; }

.smoke-box {
  position: absolute;
  width: 100%;
  top: -2rem; }
  @media only screen and (min-width: 37.5em) {
    .smoke-box {
      top: -5rem; } }
  .smoke-box img {
    width: 100%;
    height: auto; }

.features {
  padding: 4rem 0; }
  .features__wrapper {
    width: auto;
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, max-content));
    grid-gap: 2rem;
    align-items: start; }
    @media only screen and (min-width: 56.25em) {
      .features__wrapper {
        grid-template-columns: repeat(4, minmax(24rem, max-content)); } }

.section {
  padding: 4rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }
  @media only screen and (min-width: 37.5em) {
    .section {
      padding: 4rem 5%; } }
  .section__content {
    margin-bottom: 2rem; }
    @media only screen and (min-width: 37.5em) {
      .section__content {
        margin-bottom: 0; } }
  .section__img {
    flex: 0 0 auto; }
    @media only screen and (min-width: 37.5em) {
      .section__img {
        width: 45%; } }
    @media only screen and (min-width: 75em) {
      .section__img {
        width: 55%; } }
    @media only screen and (min-width: 37.5em) {
      .section__img--left {
        margin-right: 2rem; } }
    @media only screen and (min-width: 75em) {
      .section__img--left {
        margin-right: 8rem; } }
    @media only screen and (min-width: 37.5em) {
      .section__img--right {
        margin-left: 2rem; } }
    @media only screen and (min-width: 75em) {
      .section__img--right {
        margin-left: 8rem; } }

@media only screen and (min-width: 37.5em) {
  .choose-us {
    flex-direction: row-reverse; } }

@media only screen and (min-width: 37.5em) {
  .process {
    flex-direction: row; } }

@media only screen and (min-width: 37.5em) {
  .solutions {
    flex-direction: row-reverse; } }

.testimonials {
  padding: 4rem 0; }
  .testimonials .owl-dots {
    text-align: center; }
  .testimonials .owl-dot {
    display: inline-block;
    height: 15px !important;
    width: 15px !important;
    background-color: #999999 !important;
    opacity: .8;
    border-radius: 50%;
    margin: 50px 5px 0; }
  .testimonials .owl-dot.active {
    background-color: #5ca7db !important; }

.pricing {
  padding: 4rem 10%; }
  @media only screen and (min-width: 37.5em) {
    .pricing {
      padding: 4rem 5%;
      display: grid;
      grid-template-columns: repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end]);
      grid-column-gap: 3rem;
      align-items: center; } }
  @media only screen and (min-width: 56.25em) {
    .pricing {
      grid-column-gap: 4rem; } }
  @media only screen and (min-width: 37.5em) {
    .pricing__content {
      grid-column: col-start 1 / col-end 5; } }
  @media only screen and (min-width: 37.5em) {
    .pricing__cards {
      grid-column: col-start 6 / col-end 12;
      display: flex;
      justify-content: space-between; } }

@media only screen and (min-width: 37.5em) {
  .contact {
    flex-direction: row-reverse; } }

.analyze {
  grid-column: full-start / full-end;
  padding: 10rem 0; }

.heading-1 {
  font-size: 3rem;
  color: #404040;
  line-height: 1.3;
  animation: moveInRight 1s ease-out; }
  @media only screen and (min-width: 75em) {
    .heading-1 {
      font-size: 3.4rem; } }
  @media only screen and (min-width: 75em) {
    .heading-1 {
      font-size: 4rem; } }

.heading-2 {
  font-size: 2rem;
  font-weight: 300;
  color: #404040; }
  @media only screen and (min-width: 75em) {
    .heading-2 {
      font-size: 2.4rem; } }

.heading-3 {
  font-size: 1.6rem;
  color: #999999;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.8rem; }

.heading-5 {
  font-size: 1.6rem; }

.text {
  font-size: 1.4rem; }

.btn {
  background-color: #5ca7db;
  color: #fff;
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(64, 64, 64, 0.2);
  transition: all .2s; }
  .btn:hover {
    background-color: #2675ab; }
  .btn:focus {
    outline: none; }
  .btn--tag {
    font-size: 1.2rem;
    padding: 1rem 2rem; }
  .btn--animated {
    animation: moveInBottom .5s ease-out .75s backwards; }

.card {
  background-color: #fff;
  padding: 4rem;
  text-align: center;
  box-shadow: 0 2rem 4rem rgba(64, 64, 64, 0.1);
  transition: all .3s; }
  @media only screen and (min-width: 37.5em) {
    .card {
      padding: 2rem; } }
  @media only screen and (min-width: 56.25em) {
    .card {
      padding: 4rem 6rem; } }
  .card:not(:last-child) {
    margin-bottom: 4rem; }
    @media only screen and (min-width: 37.5em) {
      .card:not(:last-child) {
        margin-bottom: 0; } }
  .card__price {
    font-size: 1.4rem; }
    .card__price span {
      font-size: 5rem;
      line-height: 1.2; }
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 2rem 4rem rgba(64, 64, 64, 0.3); }

.customer {
  background-color: #fff;
  padding: 3rem;
  margin: 0 5%; }
  .customer__text {
    font-size: 1.4rem;
    color: #999999; }
  .customer__box {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .customer__img {
    width: 6rem !important;
    height: 6rem;
    display: flex;
    margin-right: 2rem;
    -webkit-mask-image: url(../../img/blob1.svg);
    -webkit-mask-size: cover;
    mask-image: url(../../img/blob1.svg);
    mask-size: cover;
    overflow: hidden; }
  .customer__info span {
    font-size: 1.4rem;
    color: #999999; }

.feature {
  padding: 2rem;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-row-gap: 1.5rem;
  text-align: center; }
  .feature__icon {
    width: 7rem;
    height: 7rem;
    padding: 2rem;
    justify-self: center;
    -webkit-mask-image: url(../../img/blob1.svg);
    -webkit-mask-size: cover;
    mask-image: url(../../img/blob1.svg);
    mask-size: cover; }
    .feature__icon--1 {
      fill: #ff5050;
      background-color: #ffd0d0; }
    .feature__icon--2 {
      fill: #5ca7db;
      background-color: #c4dff2; }
    .feature__icon--3 {
      fill: #53c653;
      background-color: #d9f2d9; }
    .feature__icon--4 {
      fill: #6666ff;
      background-color: #ccccff; }

.post {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .post:not(:last-child) {
    margin-bottom: 2rem; }
  .post__img {
    width: 7rem;
    height: 7rem;
    margin-right: 3rem; }
  .post__text {
    flex-grow: 1; }
  .post h5 {
    margin-bottom: 1rem; }
  .post__date {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .post__date span {
      font-size: 1.35rem;
      text-transform: uppercase;
      color: #999999; }
    .post__date img {
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #999999; }
  .post__icon {
    width: 1.3rem;
    height: 1.3rem;
    fill: #999999; }

.tags {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; }

.categories {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; }
  .categories__item {
    display: flex;
    justify-content: flex-start;
    align-items: baseline; }
  .categories__dot {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #606060;
    margin-right: 1rem; }

.get-in-touch {
  display: flex;
  flex-direction: column; }

.elsewhere {
  display: flex;
  justify-content: flex-start; }
  .elsewhere__icon {
    width: 2rem;
    height: 2rem;
    flex-grow: 1; }

.list {
  list-style: none; }
  .list__item {
    font-size: 1.4rem; }
  .list--side .list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;
    background-color: #5ca7db;
    -webkit-mask-image: url(../../img/check.svg);
    -webkit-mask-size: cover;
    mask-image: url(../../img/check.svg);
    mask-size: cover; }
  .list--center .list__item span {
    font-weight: 700; }

.process-step {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 1rem;
  align-items: center; }
  .process-step__icon-box {
    position: relative; }
  .process-step__icon {
    width: 7rem;
    height: 7rem;
    padding: 2rem;
    justify-self: center;
    -webkit-mask-image: url(../../img/blob1.svg);
    -webkit-mask-size: cover;
    mask-image: url(../../img/blob1.svg);
    mask-size: cover; }
    .process-step__icon--1 {
      fill: #5ca7db;
      background-color: #c4dff2; }
    .process-step__icon--2 {
      fill: #53c653;
      background-color: #d9f2d9; }
    .process-step__icon--3 {
      fill: #f5c463;
      background-color: #fdf1db; }
  .process-step__number {
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .process-step__number--1 {
      background-color: #5ca7db; }
    .process-step__number--2 {
      background-color: #53c653; }
    .process-step__number--3 {
      background-color: #f5c463; }

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 37.5em) {
    .search {
      flex-direction: row; } }
  .search__input {
    font-family: inherit;
    font-size: 1.4rem;
    color: inherit;
    background-color: #fff;
    border: none;
    margin-bottom: 3rem;
    padding: 1.2rem 2.5rem;
    border-radius: 100px;
    width: 80%;
    box-shadow: 0 1rem 2rem rgba(64, 64, 64, 0.07);
    transition: all .3s; }
    @media only screen and (min-width: 37.5em) {
      .search__input {
        width: 50%;
        margin-bottom: 0;
        margin-right: 3rem; } }
    @media only screen and (min-width: 37.5em) {
      .search__input {
        width: 30%; } }
    .search__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(64, 64, 64, 0.2);
      background-color: rgba(92, 167, 219, 0.1); }
    .search__input:focus:invalid {
      background-color: rgba(255, 80, 80, 0.1); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      font-size: 1.4rem;
      color: #999999; }
  .search__btn {
    align-self: flex-end;
    margin-right: 10%; }
    @media only screen and (min-width: 37.5em) {
      .search__btn {
        align-self: center;
        margin-right: 0; } }

.footer {
  grid-column: full-start / full-end;
  position: relative;
  background-color: #fff;
  padding: 4rem 0 2rem 0; }
  @media only screen and (min-width: 75em) {
    .footer {
      padding: 10rem 0 2rem 0; } }
  .footer__wrapper {
    width: auto;
    max-width: 1140px;
    margin: 0 10%;
    display: grid;
    grid-template-columns: [center-start] repeat(11, [col-start] 1fr [col-end]) [center-end];
    gap: 2rem; }
    @media only screen and (min-width: 56.25em) {
      .footer__wrapper {
        margin: 0 2%; } }
    @media only screen and (min-width: 75em) {
      .footer__wrapper {
        margin: 0 auto; } }
  .footer h4 {
    margin-bottom: 2rem; }
  .footer__box {
    display: flex;
    flex-direction: column; }
  .footer__text {
    font-size: 1.5rem; }
  .footer__posts {
    grid-column: center-start / center-end; }
    @media only screen and (min-width: 37.5em) {
      .footer__posts {
        grid-column: center-start / col-end 6;
        grid-row: 1 / span 4; } }
    @media only screen and (min-width: 56.25em) {
      .footer__posts {
        grid-column: center-start / col-end 3;
        grid-row: 1 / span 4; } }
  .footer__tags {
    grid-column: center-start / center-end; }
    @media only screen and (min-width: 37.5em) {
      .footer__tags {
        grid-column: col-start 7 / center-end;
        grid-row: 1 / span 2; } }
    @media only screen and (min-width: 56.25em) {
      .footer__tags {
        grid-column: col-start 4 / col-end 6;
        grid-row: 1 / span 2; } }
  .footer__categories {
    grid-column: center-start / center-end; }
    @media only screen and (min-width: 37.5em) {
      .footer__categories {
        grid-column: col-start 7 / center-end;
        grid-row: 3 / span 2; } }
    @media only screen and (min-width: 56.25em) {
      .footer__categories {
        grid-column: col-start 4 / col-end 6;
        grid-row: 3 / span 2; } }
  .footer__get-in-touch {
    grid-column: center-start / center-end; }
    @media only screen and (min-width: 37.5em) {
      .footer__get-in-touch {
        grid-column: center-start / col-end 6;
        grid-row: 5 / span 3; } }
    @media only screen and (min-width: 56.25em) {
      .footer__get-in-touch {
        grid-column: col-start 7 / col-end 9;
        grid-row: 1 / span 3; } }
  .footer__elsewhere {
    grid-column: center-start / center-end; }
    @media only screen and (min-width: 37.5em) {
      .footer__elsewhere {
        grid-column: center-start / col-end 6;
        grid-row: 8 / span 1; } }
    @media only screen and (min-width: 56.25em) {
      .footer__elsewhere {
        grid-column: col-start 7 / col-end 9;
        grid-row: 4 / span 1; } }
  .footer__learn-more {
    grid-column: center-start / col-end 6; }
    @media only screen and (min-width: 37.5em) {
      .footer__learn-more {
        grid-column: col-start 9 / center-end;
        grid-row: 5 / span 2; } }
    @media only screen and (min-width: 56.25em) {
      .footer__learn-more {
        grid-column: col-start 10 / center-end;
        grid-row: 1 / span 2;
        justify-self: center; } }
  .footer__support {
    grid-column: col-start 7 / center-end; }
    @media only screen and (min-width: 37.5em) {
      .footer__support {
        grid-column: col-start 9 / center-end;
        grid-row: 7 / span 2; } }
    @media only screen and (min-width: 56.25em) {
      .footer__support {
        grid-column: col-start 10 / center-end;
        grid-row: 3 / span 2;
        justify-self: center; } }
  .footer .copyright {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    font-size: 1.4rem; }

.header {
  grid-column: full-start / full-end;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10rem 0; }
  @media only screen and (min-width: 37.5em) {
    .header {
      grid-column: center-start / center-end;
      padding-bottom: 0; } }
  @media only screen and (min-width: 75em) {
    .header {
      height: 75vh;
      align-items: flex-end; } }
  .header__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); }
    @media only screen and (min-width: 37.5em) {
      .header__bg {
        display: none; } }
  .header__content {
    position: relative;
    margin: 0 10%;
    z-index: 10; }
    @media only screen and (min-width: 37.5em) {
      .header__content {
        margin: 0; } }
    @media only screen and (min-width: 56.25em) {
      .header__content {
        padding: 6rem;
        align-self: center; } }
  .header__img-box {
    position: absolute;
    height: 40rem;
    width: 100%; }
    @media only screen and (min-width: 37.5em) {
      .header__img-box {
        position: relative; } }
    @media only screen and (min-width: 56.25em) {
      .header__img-box {
        width: 80%; } }
  .header__img {
    position: absolute;
    left: 50%; }
    .header__img--1 {
      width: 70%;
      top: 0;
      transform: translateX(-50%);
      animation: fadeIn 1s 1s ease-in-out backwards; }
    .header__img--2 {
      width: 80%;
      bottom: 20%;
      transform: translateX(-45%); }
    .header__img--3 {
      bottom: 0;
      width: 40%;
      transform: translate(-50%, 0);
      animation: moveInUp 1.5s ease-out; }
  .header__text {
    font-size: 1.8rem;
    animation: moveInLeft 1s ease-out; }
    @media only screen and (min-width: 75em) {
      .header__text {
        font-size: 2.2rem; } }

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #fff;
  z-index: 100; }
  @media only screen and (min-width: 37.5em) {
    .nav {
      padding: 3rem 2rem 1rem 2rem;
      background-color: transparent;
      transition: all .3s ease; }
      .nav.sticky {
        padding: 1rem 2rem;
        background-color: #fff; } }
  .nav__small {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  @media only screen and (min-width: 37.5em) {
    .nav__big {
      width: auto;
      max-width: 1140px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between; } }
  .nav__button {
    display: flex;
    position: relative;
    height: 3.5rem;
    z-index: 100; }
    @media only screen and (min-width: 37.5em) {
      .nav__button {
        display: none; } }
    .nav__button--icon, .nav__button--icon::before, .nav__button--icon::after {
      width: 3.5rem;
      height: 2px;
      display: inline-block;
      background-color: #404040;
      margin-top: 1.5rem; }
    .nav__button--icon::before, .nav__button--icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .nav__button--icon::before {
      top: -1rem; }
    .nav__button--icon::after {
      top: 1rem; }
    .nav__button--icon.toggle {
      background-color: transparent; }
    .nav__button--icon.toggle::before {
      transform: rotate(135deg);
      top: 0; }
    .nav__button--icon.toggle::after {
      transform: rotate(-135deg);
      top: 0; }
  .nav__menu {
    margin: 2.5rem;
    display: none;
    flex-direction: column; }
    @media only screen and (min-width: 37.5em) {
      .nav__menu {
        margin: 0;
        display: flex;
        flex-direction: row; } }
    .nav__menu.show {
      display: flex; }
  .nav__link:link, .nav__link:visited {
    display: inline-block;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    color: #404040;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2rem;
    transition: all .3s;
    background-color: #e6e6e6; }
    @media only screen and (min-width: 37.5em) {
      .nav__link:link, .nav__link:visited {
        padding: 0;
        background-color: transparent; } }
  .nav__link:not(:last-child) {
    margin-bottom: 1rem; }
    @media only screen and (min-width: 37.5em) {
      .nav__link:not(:last-child) {
        margin-bottom: 0;
        margin-right: 3rem; } }
  .nav__link:hover, .nav__link:active {
    color: #999999; }
    @media only screen and (min-width: 37.5em) {
      .nav__link:hover, .nav__link:active {
        transform: translateY(0.3rem); } }
