/*
   * plava: #5ca7db
   * crna: #404040
   * siva: #999999 i #606060 
   * zuta: #f5c463
   * zelena: #58b39
*/

// COLORS
$color-primary: #5ca7db; 
$color-secondary: #f5c463;
$color-tertiary: #ff5050;
$color-quaternary: #53c653;
$color-quinary: #6666ff;

$color-white: #fff;
$color-grey-light: #999999;
$color-grey-dark: #606060;
$color-black: #404040;