.btn {
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 10rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 1.5rem 2.5rem;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    transition: all .2s;

    &:hover {
        background-color: darken($color-primary, 20%);
    }

    &:focus {
        outline: none;
    }

    &--tag {
        font-size: 1.2rem;
        padding: 1rem 2rem;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s backwards;
    }
}