.card {
    background-color: $color-white;
    padding: 4rem;
    text-align: center;
    box-shadow: 0 2rem 4rem rgba($color-black, .1);
    transition: all .3s;

    @media only screen and (min-width: $bp-small) {
        padding: 2rem;
    }

    @media only screen and (min-width: $bp-medium) {
        padding: 4rem 6rem;
    }

    &:not(:last-child) {
        margin-bottom: 4rem;

        @media only screen and (min-width: $bp-small) {
            margin-bottom: 0;
        }
    }

    &__price {
        font-size: 1.4rem;

        span {
            font-size: 5rem;
            line-height: 1.2;
        }
    }

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 2rem 4rem rgba($color-black, .3);
    }
}